@page
@using Mando.Localization
@model Mando.Pages.Account.LogoutModel
@inject IHtmlLocalizer<LocalizationResource> HtmlLocalizer

@{
    ViewBag.Title = "LOGOUT";
}

<div class="ant-layout" style="height:100vh">
    <div class="ant-layout-content" style="display:grid;place-items:center">
        Account/Logout
    </div>
</div>